body {
  background-color: #eadeed;
}

.container {
  border-radius: 10px;
  background-color: #5bd1d7;
  max-width: 60%;
  margin-top: 50px;
  border: solid black 0.5px;
}

@media only screen and (max-width: 600px) {
  .container {
    max-width: 90%;
  }

  .App {
    margin-top: 60px;
  }
}
