.Cities ul {
  list-style: none;
  border: solid black 0.1px;
  border-radius: 10px;
  background-color: #bed7f7;
  color: #202c30;
  padding: 10px;
}

.Cities li {
  margin: 35px 15px;
}

@media only screen and (max-width: 600px) {
  .Cities li {
    display: inline-block;
    width: 20%;
    margin: 0;
    padding: 0 5px;
    
  }
  
}
