form {
  margin-top: 30px;
  margin-bottom: 40px;
}

.form-control {
  max-width: 300px;
  border: none;
  border-radius: 10px 0px 0px 10px;
}

.btn {
  border-radius: 0px 10px 10px 0px;
  background-color: rgba(255, 255, 255, 0.2);
  border-color: white;
  color: white;
}

.btn:hover {
  transition: all 200ms ease-in-out;
  cursor: pointer;
  color: white;
  background-color: pink;
}

.main-body {
  position: relative;
  left: 50px;
}

.body {
  margin-top: 20px;
}

.WeatherDisplay {
  max-height: 700px;
}
