.City {
  text-align: center;
  padding: 30px;
  font-size: 40px;
  font-family: "Quicksand", sans-serif;
}

.WeatherTemperature {
  text-align: center;
  font-size: 60px;
}

ul {
  list-style: none;
  padding-left: 0px;
}

.weather-icon img {
  max-width: 40%;
}
