form {
  margin-top: 30px;
  margin-bottom: 40px;
}

.form-control {
  max-width: 300px;
  border: none;
  border-radius: 10px 0px 0px 10px;
}

.btn {
  border-radius: 0px 10px 10px 0px;
  background-color: rgba(255, 255, 255, 0.2);
  border-color: white;
  color: white;
}

.btn:hover {
  transition: all 200ms ease-in-out;
  cursor: pointer;
  color: white;
  background-color: pink;
}

.main-body {
  position: relative;
  left: 0;
  margin-bottom: 40px;
}

.body {
  margin-top: 20px;
  margin-left: 0;
  margin-right: 0;
}

.WeatherDisplay {
  position: relative;
  max-height: 700px;
}

.city-column {
  width: 120px;
  position: absolute;
  top: 75px;
  left: -95px;
}

.specs-column {
  padding: 0;
}

.main {
  text-align: center;
}

.icon-description-column {
  padding-left: 100px;
  padding-right: 0;
  padding-bottom: 50px;
  text-align: center;
}

.specs-column {
  padding-left: 0;
  padding-right: 200px;
  text-align: center;
}

.weather-forecast {
  position: absolute;
  top: 50px;
  right: -75px;
  min-width: 200px;
}

@media only screen and (max-width: 600px) {
  .city-column {
    width: 100%;
    position: relative;
    top: -35px;
    left: auto;
  }

  form {
    margin-top: 10px;
  }

  .form-control {
    max-width: 180px;
  }

  .weather-forecast {
    position: relative;
    right: auto;
    top: -80px;
    padding-bottom: 50px;
  }

  .City {
    padding-top: 0;
  }

  .icon-description-column,
  .specs-column {
    text-align: center;
    padding: 0 10px;
  }
}
