.Mobile {
  display: none;
}

.ForecastIcons img {
  position: relative;
  left: 50px;
  top: -50px;
  width: 45px;
  height: 45px;
}

.Day {
  position: relative;
  left: -20px;
}

.temperature {
  position: relative;
  left: -20px;
}

@media only screen and (max-width: 600px) {
  .Desktop {
    display: none;
  }

  .Mobile {
  display: block;
}

  .ForecastIcons img {
    position: relative;
    left: 0;
    top: 0;
    width: 45px;
    height: 45px;
  }

  .Day {
    position: relative;
    left: 0;
  }

  .temperature {
    position: relative;
    left: 0;
  }
}
