.WeatherForecast {
  padding-top: 40px;
  text-align: center;
}

.WeatherForecast canvas {
  display: block;
  margin: 10px auto;
}

.WeatherForecast {
  list-style: none;
  border: solid black 0.5px;
  border-radius: 10px;
  background-color: #b1e8ed;
  color: #202c30;
  padding: 10px;
  max-width: 250px;
}

.Heading {
  padding-top: 20px;
  padding-bottom: 20px;
}

@media only screen and (max-width: 600px) {
  .WeatherForecast {
    max-width: none;
  }

  .WeatherForecast ul {
    max-width: none;
    width: 100%;
  }

  .WeatherForecast li {
    display: inline-block;
    padding: 5px 5px 0 5px;
  }

  .Heading {
    padding-top: 10px;
    padding-bottom: 0;
  }
}
